{% set admin = true %}
{% extends 'layout.html.twig' %}

{% block content %}
    <div class="buzzer-column">
        <div class="buzzer-controls">
            <div id="status-indicator" class="buzzer inactive-buzzer"></div>

            <button class="button" id="toggle-status">Toggle</button>
            <br />
            <button class="button timeout" id="timeout">Time out</button>
            <br />
            <button class="button bad" id="modal-dismiss">Dismiss</button>
            <br />
            <button class="button toggleRound" id="toggleRound">Toggle round</button>
            <br />
            <button id="trigger-final" class="button facebook">Start Final (R-click)</button>
            <br />
            <p>
				<label for="gameId" style="color: #fff;">Game ID: </label><input type="text" size="5" id="gameId" /> <br />
				<button value="server?game=" id="loadGame" class="button">Load Game ID (R-click)</button>
			</p>
        </div>

        {% include 'partials/contestants.html.twig' with {'players': players, 'user': user, 'show_image': false } %}



    </div>
    <div class="content-wrapper">
        {% include 'partials/board.html.twig' %}
    </div>

    <script>
        var jeo = window.jeopardy;
        jeo.admin_mode = true;
        jeo.getStatusIndicatorElement = function() {
            return $('#status-indicator');
        };
        jeo.getJeopardyBoardElement = function() {
            return $('.jeopardy-board');
        };
        jeo.getPlayerElements = function() {
            return $('.player-container').find('.player').toArray();
        };
        jeo.getQuestionDisplayModal = function() {
            return $('#question-display-modal');
        };
        jeo.getDailyDoubleModal = function() {
            return $('#daily-double-display-modal');
        };
        jeo.getFinalJeopardyModal = function() {
            return $("#final-jeopardy-display-modal");
        };


        $(document).ready(function() {
            $('#toggle-status').click(function() {
                jeo.attemptBuzzerStatusChange($('#status-indicator').hasClass('inactive-buzzer'));
            });

            $(document).keydown(function(event) {
                if ((event.keyCode == 74) || (event.keyCode == 32)) {
                    jeo.attemptBuzzerStatusChange($('#status-indicator').hasClass('inactive-buzzer'));
                }
            });

			$('#timeout').click(function() {
				jeo.attemptTimeout();
			});

			$('#toggleRound').click(function() {
				jeo.attemptRefresh();
			});

			$('.question.box').click(function() {
                var categoryName = $(this).attr('data-category');
                var value = $(this).find('.clue').first().text();

                jeo.attemptNewQuestionDisplay(categoryName, value);
            });

            $('#modal-dismiss').click(function() {
                jeopardy.attemptQuestionDismiss();
            });

            $('#loadGame').bind('contextmenu', function() {
                if ($('#gameId').val().length > 2) {
					let currentPath = window.location.pathname;
					let lastSlashIndex = currentPath.lastIndexOf('/');
					let pathUpToLastSlash = currentPath.substring(0, lastSlashIndex + 1);

					// Construct the new URL with the desired query parameter
					let newURL = pathUpToLastSlash + $('#loadGame').val() + $('#gameId').val();
					// window.location.href = newURL;
					window.open(newURL, '_blank');
				}
            });

            $('.player-container').on('click', '.player', function() {
                var playerName = $(this).attr('data-player-name');
                var modal = jeo.getQuestionDisplayModal();

                // We're checking if the question display modal is visible, otherwise we're probably in final jeopardy.
                if (modal.is(":visible")) {
                    jeopardy.attemptQuestionAnswer(playerName, true);
                    return false;
                }

                modal = jeo.getFinalJeopardyModal();
                if (modal.is(':visible')) {
                    jeo.attemptAwardFinalJeopardyAmount(playerName, true);
                }

            });

            $('.player-container').on('contextmenu', '.player', function() {
                var playerName = $(this).attr('data-player-name');
                var modal = jeo.getQuestionDisplayModal();

                // We're checking if the question display modal is visible, otherwise we're probably in final jeopardy.
                if (modal.is(':visible')) {
                    jeopardy.attemptQuestionAnswer(playerName, false);
                    return false;
                }

                modal = jeo.getFinalJeopardyModal();
                if (modal.is(':visible')) {
                    jeo.attemptAwardFinalJeopardyAmount(playerName, false);
                    return false;
                }

                return false;


            });

            $('#trigger-final').bind('contextmenu', function() {
                var current_step = $('#final-jeopardy-next').attr('data-current-step');
                jeopardy.attemptFinalJeopardyDisplay(current_step);

                return false;
            });

            $('#final-jeopardy-next').click(function() {
				var current_step = $(this).attr('data-current-step');
				if (current_step == "clue") {
					$(this).html("Clue displayed, wait 30s for answers");
				} else if (current_step == "answer") {
					$(this).html("Answers closed, gathering responses");
				}
                jeo.attemptFinalJeopardyDisplay(current_step);
            });

            $('#final-jeopardy-display-modal').on('click', '.responses .response', function() {
                jeo.attemptGetFinalJeopardyAnswer($(this).attr('data-player'));
                return false;
            });

            $('#daily-double-form').submit(function() {
                var bet = parseInt($('#daily-double-bet').val());
                jeo.attemptDailyDoubleBet(bet);
                return false;
            });
        });



    </script>
{% endblock %}
